version: "3.8"

services:
  nginx:
    image: nginx:alpine
    ports:
      - "8443:443"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
      - ./certs:/etc/nginx/certs
    depends_on:
      - app

  app:
    build: .
    command: gunicorn --bind 0.0.0.0:8000 --workers 4 mtlsdemo.wsgi:application
    expose:
      - "8000"
